.short-btn{
    width: 30.4%;
    height: 60px;
    background: #F5F4F7;
    border-radius: 40px;
    margin-top:20px;
    margin-right: 2.8%;
    .short-btn-word{
        font-size: 28px;
        color: #333333;
        letter-spacing: 0.34px;
        text-align: center;
        line-height: 60px;
    }
}