@import '../../../../assets/sass/mixin';
.home-goods{
    width: 336px;
    margin-right:20px;
    margin-bottom: 20px;
    border-radius: 12px;
    overflow: hidden;
    .goods-cover{
        height: 290px;
    }
    .goods-infor{
        height: 140px;
        background: #f3f3f3;
        position: relative;
        .goods-name-sp{
            width: 96%;
            margin-left:2%;
            font-size: 31px;
            color: #333333;
            height: 50px;
            text-align: left;
            line-height: 60px;
            overflow: hidden;
        }
        .infor-box{
            width: 96%;
            height: 100px;
            margin-left:2%;
            display: flex;
            
            .left{
                width: 75%;
                .goods-des{
                    height: 50px;
                    line-height: 50px;
                    overflow: hidden;
                    font-size: 26px;
                    text-align: left;
                    color: #999999;
                }
                .prices{
                    display: flex;
                    
                    .circle{
                        width: 32px;
                        height: 32px;
                        border-radius: 90%;
                        font-size: 9px;
                        color: #333333;
                        text-align: center;
                        line-height: 32px;
                    }
                    .price{
                        height: 40px;
                        font-size: 25px;
                        margin-right: 10px;
                        line-height: 34px;
                    }
                }
            }
            .right{
                width: 80px;
                height: 80px;
                background: #fee310;
                border-radius: 8px;
                @include layout();
                .order-entry{
                    width: 60px;
                    height: 60px;
                    text-align: center;
                    line-height: 28px;
                    font-size: 22px;
                    color:#555555;
                }
            }
            
        }
        .hot-spots{
            width: 50%;
            height: 100%;
            position: absolute;
            right:0;
            top:0;
            // border: 1px solid #000;
        }
        
    }
}