.sub-container{
    // width: 750px;
    min-height: 94.3vh;
    // position: relative;
    // top:20px;
    margin-top: 80px;
    background: rgb(250, 250, 250);
}
.orders-line{
    width: 750px;
    height: 20px;
    background: rgba(250, 250, 250, 0.99);
}
.sub-bottom{
    // position: fixed;
    text-align: center;
    bottom:10px;
}
