@import "~taro-ui/dist/style/index.scss"; // 引入组件样式，仅需引入一次即可

//公共样式
.at-activity-indicator{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.taro-scroll-view__scroll-y {
    height: 100%;
}